body {
  font-family: Montserrat;
  background-color: #faf8f5;
}
.regbutton {
  position: absolute;
  width: 85vw;
  height: 11vw;
  left: 7vw;
  top: 115vw;
  background: #46d94b;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 5vw;
  text-decoration: none;
}
.reginput {
  position: absolute;
  width: 85vw;
  height: 16vw;
  left: 7vw;
  font-family: Montserrat;
  background: #ffffff;
  padding-left: 20px;
  font-size: 18px;
  box-shadow: 0px 0px 17px rgba(85, 85, 85, 0.05);
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-weight: bold;
  padding-right: 20px;
}
.regp1 {
  text-align: center;
  height: 29px;
  margin: 10vw auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;

  color: #1b1e31;
}
.step1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin: 2vw auto;
  height: 16px;
  text-align: center;
  line-height: 16px;
  text-align: center;

  color: #46d94b;
}
.mainp {
  position: absolute;
  height: 29px;
  left: 7vw;
  top: 6vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #1b1e31;
}
.profile1 {
  position: absolute;
  width: 95vw;
  top: 92px;
}
.green {
  width: 85vw;
  left: 7vw;
  top: 70vw;
  position: absolute;
}
.yellow {
  width: 85vw;
  left: 7vw;
  top: 110vw;
  position: absolute;
}
.blue {
  width: 85vw;
  left: 7vw;
  top: 150vw;
  position: absolute;
}
@font-face {
  font-family: "Montserrat";
  src: url("ttf/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.anemia {
  width: 85vw;
  left: 7vw;
  top: 33vw;
  position: absolute;
}
.sahar {
  width: 85vw;
  left: 7vw;
  top: 58vw;
  position: absolute;
}
.gemor {
  width: 85vw;
  left: 7vw;
  top: 83vw;
  position: absolute;
}
.zapor {
  width: 85vw;
  left: 7vw;
  top: 108vw;
  position: absolute;
}
.vzk {
  width: 85vw;
  left: 7vw;
  top: 133vw;
  position: absolute;
}
.yazva {
  width: 85vw;
  left: 7vw;
  top: 158vw;
  position: absolute;
}
